:root {
 /*----- Colors -----*/
 
  --color-text-dart: #1f2937;
  --color-blue: #3692ff;
  --color-background-gray: #f3f4f6;
  --color-background-light-blue: #E6F2FF;


  --color-gray900: #111827;
  --color-gray700: #374151;
  --color-gray600: #4b5563;
  --color-gray500: #6b7280;
  --color-gray400: #9ca3af;
  --color-gray200: #e5e7eb;
  --color-gray50: #f9fafb;


}



